url = "/"
==
<?
function onStart() {
    $stars = Yaml::parseFile(base_path('themes/followcoinstars/config/stars.yaml'));
    $parts = [[], []];
    foreach($stars as $key => $star) {
        $parts[$key%2][] = $star;
    }

    $this['stars'] = $stars;
    $this['parts'] = $parts;
    $this['success'] = Flash::check();
}
?>
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Follow Crypto Rockstars</title>
        <meta name="description" content="Follow Cryptocurrency Rockstars with a single click">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="{{ 'css/bootstrap.min.css'|theme }}" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Stint+Ultra+Condensed' rel='stylesheet' type='text/css'>
        <style>
            @media (min-width: 767px) {
                .container {
                    width: 768px;
                }
            }

            .jumbotron h1{
                font-size: 48px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Follow Crypto Rockstars</h1>
                <p class="lead">To practice using the Twitter API I made this small tool to let you follow amazing crypto people: business creators, protocol contributors and frequent conference speakers.</p>
                <div class="text-center">
                    {% if not success %}
                        <a href="{{ 'auth'|page }}" class="center-text btn btn-primary btn-lg text-center"><i class="fa fa-twitter"></i> Follow all {{ stars|length }}</a>
                    {% else %}
                        <span class="text-success lead">All done! Processing will take about a minute.</span>
                        <br/>
                        (You can close the page now, but please do share it with friends)
                    {% endif %}
                    <br/><br/>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Follow {{ stars|length }} awesome crypto rockstars with a single click" data-size="large" data-hashtags="bitcoin,bitcoincash">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    <br/>
                    <br/>
                    <small>
                        Someone missing from the list? Feel free to suggest them <a href="https://github.com/daftspunk/followcoinstars.com/blob/master/config/stars.yaml">by sending a pull request</a>.
                        <br />
                        Note: Your authorization key is not stored anywhere and is immediately discarded.
                    </small>
                </div>
            </div>

            <div class="row">
                {% for part in parts %}
                    <div class="col-sm-6 col-xs-12">
                        {% for star in part %}
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="https://twitter.com/{{ star.twitter }}">
                                        <img class="media-object" src="https://avatars.io/twitter/{{ star.twitter }}/small">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="https://twitter.com/{{ star.twitter }}">{{ star.name }}</a></h4>
                                    {{ star.desc }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12">
                    <div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = {{ ''|page }};
this.page.identifier = 'followcoinstars';
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://followcoinstars-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>

        </div>

        <hr/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>
</html>
